    <!-- FOOTER -->
    <section style="background-color: #222; height: 300px;">

        <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(168, 168, 168);">
        </div>
        <div class="container" style="margin-left: 10%" id="footer">
            <div class="row" style="padding-top: 5%">
                <div class="col-md-5">
                    <img src="/assets/images/logo_blanco.png" style="width: 25%;">
                </div>
                <div class="col-md-4">
                    <h5 class="mbr-section-subtitle align-center mbr-fonts-style display-6 white_font">Contacto</h5>
                    <h5 class="mbr-section-subtitle align-center mbr-fonts-style display-6 white_font">Valparaíso: +569 87886998</h5>
                    <h5 class="mbr-section-subtitle align-center mbr-fonts-style display-6 white_font">Email: pyramidwks@gmail.com</h5>
                </div>
                <div class="col-md-3">
                    <h5 class="mbr-section-subtitle align-center mbr-fonts-style display-6 white_font">Síguenos
                    </h5>
                    <h5 class="mbr-section-subtitle align-center mbr-fonts-style display-6 white_font">
                        <a href="https://www.facebook.com/PyramidWorksChile/">
                            <span class="fa fa-facebook-square" style="color: white; font-size: 32px"></span>
                        </a>
                        <a href="https://www.facebook.com/PyramidWorksChile/">
                            <span class="fa fa-instagram" style="color: white; font-size: 32px"></span>
                        </a>
                    </h5>
                </div>
                
            </div>
        </div>
    </section>
    <style type="text/css">
        .white_font{
            color: white;
            text-align: left;
        }
    </style>
    <!-- END FOOTER -->

    <!-- <script src="/assets/js/jquery.min.js"></script> -->
    <!-- <script src="/assets/web/assets/jquery/jquery.min.js"></script> -->
    <script src="/assets/popper/popper.min.js"></script>
    <script src="/assets/tether/tether.min.js"></script>
    <script src="/assets/countdown/jquery.countdown.min.js"></script>
    <script src="/assets/dropdown/js/nav-dropdown.js"></script>
    <script src="/assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="/assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="/assets/parallax/jarallax.min.js"></script>
    <script src="/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="/assets/theme/js/script.js"></script>

</body>
</html>