    <!-- FOOTER -->
    <section style="background-color: #222; height: 300px;">

        <div class="" style="opacity: 0.2; background-color: rgb(168, 168, 168);">
        </div>
        <div class="" style="" id="footer">
            <div class="row" style="padding-top: 5%; width: 100%">
                <div class="col-md-5">
                    <img src="/assets/images/logo_blanco.png" style="width: 45%; padding-left: 50px">
                </div>
                <div class="col-md-4" style="padding-left: 5%">
                    <h5 class="align-center display-6 white_font">Contacto</h5>
                    <h5 class="align-center display-6 white_font">Valparaíso: +569 87886998</h5>
                    <h5 class="align-center display-6 white_font">Email: pyramidwks@gmail.com</h5>
                </div>
                <div class="col-md-2">
                    <h5 class="align-center display-6 white_font">Síguenos
                    </h5>
                    <h5 class="align-center display-6 white_font">
                        <a href="https://www.facebook.com/EstudienteCL/">
                            <span class="fa fa-facebook-square" style="color: white; font-size: 32px"></span>
                        </a>
                        <a href="https://www.instagram.com/estudientecl/">
                            <span class="fa fa-instagram" style="color: white; font-size: 32px"></span>
                        </a>
                    </h5>
                </div>
                
            </div>
        </div>
    </section>
    <style type="text/css">
        .white_font{
            color: white;
            text-align: left;
        }
    </style>
    <!-- END FOOTER -->

</body>
</html>