<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>EsTuDiente</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="/assets/tether/tether.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="/assets/socicon/css/styles.css">
    <link rel="stylesheet" href="/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="/assets/theme/css/style.css">
    <link rel="stylesheet" href="/assets/mobirise/css/mbr-additional.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom Fonts -->
    <link href="/assets/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>


</head>

<body style="max-width: 100%; min-width: 100%">
    <!-- HEADER -->
    <section class="menu cid-rAyFsCEsM1" once="menu" id="menu2-4">
        <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm" style="background-color: #F0FFFF; position: relative; margin: 0">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="/">
                            <img src="/assets/images/logo-122x122.png" style="height: 4.5rem; margin: 10px">
                            <h3 style="margin-top: 15px">EsTuDiente</h3>
                        </a>
                    </span>
                </div>
            </div>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav nav-dropdown">
                    <div class="nav-item">
                        <a class="nav-link link display-5" href="/">Inicio</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link link display-5" href="/nosotros">Quienes Somos</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link link display-5" href="/preguntas_frecuentes">Preguntas Frecuentes</a>
                    </div>
                    <div class="navbar-buttons mbr-section-btn">
                        <a class="btn btn-primary display-4" href="/profesor" style="margin: 0; left: -5px">
                            <span class="socicon socicon-persona mbr-iconfont mbr-iconfont-btn"></span>
                            <h5 style="margin-top: 5px">Ingresar</h5>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </section>
    <!-- END HEADER -->

<!-- <body> cierra en footer -->
