<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" href="/assets/images/logo_icon.png" />

    <title>EsTuDiente</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/style_estudiente.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="max-width: 100%; min-width: 100%">
    <!-- HEADER -->
    <section class="menu cid-rAyFsCEsM1" once="menu" id="menu2-4">
        <nav class="navbar navbar-inverse" style="background-color: #059ACC; border-width: 0; border-radius: 0; margin: 0">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a href="/">
                    <img src="/assets/images/letras_logo.png" style="width: 140px; height: 5rem">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a class="btn_nav" href="/">Inicio</a></li>
                <li><a class="btn_nav" href="/nosotros">Quienes Somos</a></li>
                <li><a class="btn_nav" href="/preguntas_frecuentes">Preguntas Frecuentes</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="btn_log_prof" href="/profesor">
                        <span class="glyphicon glyphicon-log-in btn_icon"></span>
                        <h5 class="btn_text">Portal Profesor</h5>
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
    </section>
    <!-- END HEADER -->
<!-- <body> cierra en footer -->
