<%- include layouts/header.ejs %>

    <section class="cid-rAyHAp7M3z" style="background-color: #A4E0F4" id="seccion1">
        <div class="container" style="max-width: 100%; width: auto;">
            <div class="row" style="margin-top: 5%">
                <div class="align-center col-sm-5 col-sm-offset-1" style="margin-top: 7%">
                    <h3>
                        Con la aplicación EsTuDiente con su versión para estudiantes, podrás tener un control tanto de los pacientes que están atendiendo, como también recibir pacientes sin la necesidad de recurrir a medios informales de comunicación. En nuestra aplicación basta con registrarte con una universidad e informarnos qué tratamiento estás realizando.
                    </h3><br>
                    <a class="btn_app" href="#seccion2">Navega en la App</a>
                </div>
                <div class="align-center col-sm-6">
                    <img src="assets/images/login_estudiante.jpeg" style="max-width: 35%; width: auto">
                </div>
            </div>
        </div>
    </section>

    <section class="cid-rAyHAp7M3z" style="background-color: #A4E0F4" id="seccion2">
        <div class="container" style="max-width: 100%; width: auto;">
            <div class="row linea_seccion" style="background-color: #059ACC">
                <div class="col-sm-12 align-center">
                    <h2 class="text_white">Pasos dentro de la Aplicación</h2>
                </div>
                <div class="align-center col-sm-6">
                    <img src="assets/images/inicio_estudiante.jpeg" style="max-width: 30%; width: auto">
                </div>
                <div class="col-sm-5" style="">
                    <h4 class="text_white" style="margin-top: 15%">
                        1.- Selecciona Crear Tratamiento.
                    </h4>
                </div>
            </div><br>
            <div class="row linea_seccion" style="background-color: #059ACC">
                <div class="col-sm-5 col-sm-offset-1" style="margin-top: 5%">
                    <h4 class="text_white" style="">
                        2.- Elige el tipo de tratamiento que vas a ofrecer (Los tratamientos varían según tu universidad).
                    </h4>
                </div>
                <div class="col-sm-6">
                    <img src="assets/images/Tratamientos_estudiante.jpeg" style="max-width: 30%; width: auto">
                </div>
            </div><br>

            <div class="row linea_seccion" style="background-color: #059ACC">
                <h3 class="text_white">Una vez que tengas tus pacientes, podrás realizar una serie de acciones, tales como:</h3>
                <div class="col-sm-5 col-sm-offset-1">
                    <img src="assets/images/detalleTratamiento.jpeg" style="max-width: 40%; width: auto; margin-right: 10px">
                    <img src="assets/images/radiografia.jpeg" style="max-width: 40%; width: auto">
                </div>
                <div class="col-sm-5" style="margin-top: 5%">
                    <h4 class="text_white">
                        3.-  Ver y actualizar la ficha digital y las radiografias de tu paciente. Mantener un control de la etapa del tratamiento en la que te encuentras, con la posibilidad de tener una bitácora por tratamiento.
                    </h4>
                </div>
            </div><br>

            <div class="row linea_seccion" style="background-color: #059ACC">
                <div class="col-sm-5 col-sm-offset-1" style="margin-top: 5%">
                    <h4 class="text_white" style="">
                        4.- Puedes mantener un control detallado del estado de los dientes de tu paciente, pudiendo observar un detalle por diente que estés tratando.
                    </h4>
                </div>
                <div class="col-sm-5 col-sm-offset-1">
                    <img src="assets/images/detalle_diente.jpeg" style="max-width: 40%; width: auto">
                </div>
            </div><br>   
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#seccion1").css("min-height", $(window).height())
            $("#seccion2").css("min-height", $(window).height())
            $("#seccion3").css("min-height", $(window).height())
        });

        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });
    </script>
<%- include layouts/footer.ejs %>
