<%- include layouts/header.ejs %>

	<!-- Esta es la vista principal donde se renderiza todo -->
	<section class="header7 cid-rAyGXdc0MC" id="seccion1">

        <!-- <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(35, 35, 35);">-->

        </div> 
        <div class="container align-center">
            <div class="media-container-row align-center">
                <div class="media-content align-center" style="padding-right: 5%">
                    <div class="mbr-section-text mbr-white pb-1">
                    	<h1 class="mbr-section-title align-center mbr-fonts-style display-1">ANTECEDENTES ODONTOLOGICOS</h1>
                        <br>
                        <br>
                    </div>
                    <div class="mbr-section-text mbr-white pb-3">
                        <div class="col-sm-4"> 
                            <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-3">Pacientes en listas de espera</h3>
                            <br>
                            <br>
                            <h1 class="mbr-section-title align-center mbr-fonts-style display-1" style=" color: #026F93"> 460.000</h1>
                            <br><br>
                        </div>
                        <div class="col-sm-4"> 
                            <h3 class="mbr-section-subtit<br>le align-center mbr-fonts-style display-3"> Caries en adultos </h3>
                            <br>
                            <br>
                            <h1 class="mbr-section-title align-center mbr-fonts-style display-1" style=" color: #026F93"> 97.6%</h1>
                            <h1 class="mbr-section-title align-center mbr-fonts-style display-5" style="color: #A1F5DE"> de la población</h1>
                            <br><br>
                        </div>
                        <div class="col-sm-4"> 
                            <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-3"> Salud Bucal y Calidad de vida </h3>
                            <br><br>
                            <h1 class="mbr-section-title align-center mbr-fonts-style display-1" style="color: #026F93"> 37%</h1>
                            <h1 class="mbr-section-title align-center mbr-fonts-style display-5" style="color: #A1F5DE">dolores siempre o casi siempre</h1>
                            <br><br>
                        </div>
                    </div>
                    <div class="mbr-section-text mbr-white pb-1 col-sm-12">
                        <br><br><br><br><br><br>
                        <h1 class="mbr-section-title align-center mbr-fonts-style display-2">*correspondientes a estudios realizados por el MINSAL</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
            

    <section class="cid-rAyHAp7M3z mbr-parallax-background" style="background-color: #eeeeee" id="seccion3">
        <div class="container">
            <div class="media-container-row">
                <div class="media-content align-center col-sm-6">
                    <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-1" style=" color: #053A82">
                        ¿Qué es EsTuDiente?
                    </h2>
                    <h2 class="mbr-section-title align-center mbr-fonts-style display-3" style=" color: #026F93">
                        Plataforma digital para gestionar tratamientos dentales a bajo costo, impartidos por estudiantes de odontología, con la finalidad de ayudar tanto a pacientes como a estudiantes.</h2><br>
                    
                </div>
                <div class="media-content align-center col-sm-6">
                    <div class="mbr-figure" style="width: 100%; border-style: outset; padding: 0; border: 1px solid rgba(0, 0, 0, .3); border-width: 5px 5px 5px; border-radius: 1px; box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.3)">
                        <iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/4FoGrXhUIeU" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>   
        </div>
    </section> 
    

    <!-- SOBRE LA APLICACIÓN -->
    <section class="cid-rAyHAp7M3z mbr-parallax-background" style="background-color: #00D096    " id="seccion3">
        <div class="container">
            <div class="media-container-row">
                <div class="media-content align-center">
                    <img src="assets/images/inicio.png" style="max-width: 70%; width: auto">
                </div>
                <div class="media-content align-center">
                    <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-1" style=" color: #00825E">
                        Aplicación para Pacientes</h2> <br>
                    <h3 class="mbr-section-title align-center mbr-fonts-style display-3" style=" color: #A1F5DE">
                        Con EsTuDiente queremos aportar a mejorar tu calidad de vida. Nos preocupa tu salud, tanto dental, como financiera y emocional. Por lo que a traves de una aplicacion movil, buscamos acercar a ti tratamientos dentales de alta calidad, muy flexibles y con muy bajos costos, impartidos por estudiantes de odontologia.
                    </h3> <br><br>
                    <a class="btn btn-md btn-white-outline display-4" href="#SModelo3d">MODELO 3D</a></div>
                </div>
                
            </div>   
        </div>
    </section>


    <!-- MODELO 3D -->
    <section class="cid-rAyHAp7M3z" style="background-color: #F8FEFD" id="SModelo3d">
        <div class="container">
            <div class="media-container-row">
                <div class="container align-center col-sm-6" id="Modelo3d" style="max-width: 100%; padding: 5%; padding-top: 0; width: auto;">
                    <!-- Modelo 3D -->
                </div>
                <div class="media-content align-center col-sm-6">
                    <h1 class="mbr-section-title pb-3 align-center mbr-fonts-style display-1"  style="color: #777778">Tus dientes como nunca los habias visto</h1>
                    <br>
                    <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-3"  style="color: #222222">
                    Dentro de la aplicacion podras ver un modelo 3D de cada uno de tus dientes. En ellos veras el estado actual de la pieza dental, asi como si tienes Caries y otro dipo de enfermedades.
                    </h3>
                    <h2 class="mbr-section-title align-center mbr-fonts-style display-3"  style="color: #00D096">
                        Cada diente se genera de acuerdo a la informacion actualizada en tu ficha personal.
                    </h2>
                </div>
            </div>   
        </div>
    </section>

    <section class="cid-rAyHAp7M3z" style=" background-color: #059ACC" id="seccion1">

        <!-- <div class="mbr-overlay" >-->

        </div> 
        <div class="container align-center">
            <div class="media-container-row align-center">
                <div class="media-content align-center" style="padding-right: 5%">
                    <div class="mbr-section-text mbr-white pb-1">
                        <h1 class="mbr-section-title align-center mbr-fonts-style display-1">CARACTERISTICAS</h1>
                        <br>
                        <br>
                    </div>
                    <div class="mbr-section-text mbr-white pb-3">
                        <div class="col-sm-4"> 
                            <h1 class="mbr-section-title align-center mbr-fonts-style display-3"> TEST </h1>
                        </div>
                        <div class="col-sm-4"> 
                            <h1 class="mbr-section-title align-center mbr-fonts-style display-3"> TEST </h1>
                        </div>
                        <div class="col-sm-4"> 
                            <h1 class="mbr-section-title align-center mbr-fonts-style display-3"> TEST </h1>                            
                        </div>
                        <div class="col-sm-4"> 
                            <h1 class="mbr-section-title align-center mbr-fonts-style display-3"> TEST </h1>
                        </div>
                        <div class="col-sm-4"> 
                            <h1 class="mbr-section-title align-center mbr-fonts-style display-3"> TEST </h1>
                        </div>
                        <div class="col-sm-4"> 
                            <h1 class="mbr-section-title align-center mbr-fonts-style display-3"> TEST </h1>                            
                        </div>
                    </div>
                    <div class="mbr-section-text mbr-white pb-1 col-sm-12">
                        <br><br><br><br><br><br>
                        <h1 class="mbr-section-title align-center mbr-fonts-style display-2">Footer text</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cid-rAyHAp7M3z mbr-parallax-background" style="background-color: #FF8300" id="aviso">
        <div class="container">
            <div class="media-container-row">
                <div class="media-content align-center">
                    <h2 class="mbr-section-title mbr-fonts-style display-1  col-sm-12 " style="color: #533300">¡Aviso importante!</h2>
                    <h3 class="mbr-section-subtitle col-sm-6 display-2" style="padding-top: 5%; color: #F8FEFD ">Lamentamos anunciar que debido a la situación de emergencia por el virus COVID19, se cancela el evento Feria de software, donde teniamos propuesto presentarles nuestra aplicación. El lanzamiento de nuestra aplicación será pospuesto hasta nuevo aviso, lamentamos los inconvenientes y esperamos comprendan que su salud está primero.</h3><br>
                    <img class="col-sm-6 align-center" src="/assets/images/feria.jpg" style="width: auto;">
                </div>
            </div>   
        </div>
    </section>

    <!-- Modal aviso -->
    <div class="modal fade" id="modal_aviso" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content" style="max-height: 93%">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h5>¡ Información importante !</h5>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h5 class="mbr-section-subtitle" style="font-size: 12px !important">Lamentamos anunciar que debido a la situación de emergencia por el virus COVID19, se cancela el evento Feria de software, donde teniamos propuesto presentarles nuestra aplicación. El lanzamiento de nuestra aplicación será pospuesto hasta nuevo aviso, lamentamos los inconvenientes y esperamos comprendan que su salud está primero.</h5><br>
                    </div>
                    <img src="/assets/images/feria.jpg" style="height: 350px; padding-left: 18%">
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button" style="padding: 0">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/three/three.min.js"></script>
    <script src="/assets/three/OBJLoader.js"></script>
    <script src="/assets/three/OrbitControls.js"></script>
    <script>
        var scene, camera, renderer;
        var scene = new THREE.Scene();
        scene.background = new THREE.Color(0xE6FFFA);
        var camera = new THREE.PerspectiveCamera(100,window.innerWidth*0.7/window.innerHeight*0.7, 1,5000);
        camera.position.z = -4;

        
        scene.add( camera );

        var ambientLight = new THREE.AmbientLight( 0xcccccc, 0.1 );
        scene.add( ambientLight );
        var pointLight = new THREE.PointLight( 0xffffff, 0.8 );
        camera.add( pointLight );

        
        var diente;
        var loader = new THREE.OBJLoader();

        loader.load("assets/modelos/Molar.obj", 
        function(object){
            object.traverse( function ( child ) {
                if ( child instanceof THREE.Mesh ) {
                    child.material = new THREE.MeshNormalMaterial();
                }
            });
            object.position.y = -1;
            scene.add(object);
        });

        var renderer = new THREE.WebGLRenderer();
        renderer.setSize(window.innerWidth*0.35,window.innerHeight*0.5);
        var padre = document.getElementById("Modelo3d");
        padre.appendChild(renderer.domElement);
        
        var controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.EnableZoom2 = false;
        controls.update();
        
        var render = function(){
            renderer.render(scene,camera);
        }

        var animate = function() {
            camera.lookAt( scene.position );
            requestAnimationFrame(animate);
            controls.update();
            render();
        }
        animate();
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#seccion1").css("min-height", $(window).height())
            $("#seccion2").css("min-height", $(window).height())
            $("#seccion3").css("min-height", $(window).height())
            if("<%=new_user%>" == "false"){
                $("#modal_aviso").modal("show");            
                console.log("entra");
            }
        });
    </script>
<%- include layouts/footer.ejs %>
