<%- include layouts/header.ejs %>

	<!-- Esta es la vista principal donde se renderiza todo -->
	<section class="header7 cid-rAyGXdc0MC" id="seccion1">

        <!-- <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(35, 35, 35);">
        </div> -->

        <div class="container">
            <div class="media-container-row">
                <div class="media-content align-center" style="padding-right: 5%">
                    <div class="mbr-section-text mbr-white pb-3">
                    	<h2 class="mbr-text mbr-fonts-style">Aplicación Móvil Estudiente</h2>
                        <h3 class="mbr-text mbr-fonts-style display-5">
                            Busca dar respuesta al problema de salud dental en Chile, presentando un catálogo de tratamientos dentales a bajo costo.
                        </h3>
                    </div>
                    <div class="mbr-section-btn" style="padding-top: 10%">
                        <a class="btn btn-md btn-white-outline" href="#seccion2">Nuestra Aplicación</a>
                        <a class="btn btn-md btn-white-outline" href="/nosotros">Nuestro Equipo</a>
                    </div>
                </div>

                <!-- Video -->
                <div class="mbr-figure" style="width: 100%; border-style: outset; padding: 0; border: 1px solid rgba(0, 0, 0, .3); border-width: 5px 5px 5px; border-radius: 1px; box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.3)">
                    <iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/4FoGrXhUIeU" frameborder="0" height="300" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <!-- SOBRE LA APLICACIÓN -->
    <section class="cid-rAyHAp7M3z mbr-parallax-background" style="background-color: #eeeeee" id="seccion2">
        <div class="container">
            <div class="media-container-row">
                <div class="media-content align-center">
                    <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Bienvenido a Estudiente</h2>
                    <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
                        Aplicación intuitiva que busca presentar un catálogo de tratamientos dentales a bajo costo, impartidos por estudiantes de odontología supervisados por doctores expertos, con la finalidad de ayudar tanto a pacientes como a estudiantes.</h3><br>
                    <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
                        En ella podrás ver la información de los tratamientos, solicitar el tratamiento que desees y gestionar tus propios tratamientos, además de calificar tu tratamiento una vez terminado. Tendrás la opción de contactar al estudiante vía chat, al cual podrás dar acceso a tu información personal cuando lo desees.</h3><br>
                    <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
                        Te mostramos el avance de tus tratamientos de manera interactiva con un modelo dental 3D, que puedes ver a continuación.</h3>
                </div>
                <div class="media-content align-center">
                    <img src="assets/images/inicio.png" style="max-width: 70%; width: auto">
                </div>
            </div>   
        </div>
    </section>

    <!-- MODELO 3D -->
    <section class="countdown1 cid-rAyHAp7M3z" id="seccion3">
        <div class="container">
            <div class="media-container-row">
                <div class="container align-center" id="Modelo3d" style="max-width: 100%; padding: 0">
                    <!-- Modelo 3D -->
                </div>
                <div class="media-content align-center">
                    <h2 class="mbr-section-title pb-3 align-center mbr-fonts-style display-2">Observa tu Dentograma en 3D</h2>
                    <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
                        Podrás ver el estado de tus dientes a través de un modelo dental 3d
                        con el que puedes interactuar, generado a partir del avance de tus tratamientos.</h3>
                    <h3 class="mbr-section-subtitle align-center mbr-fonts-style display-5">
                        Visualizarás la información detallada realizada por tratamiento.</h3>
                </div>
            </div>   
        </div>
    </section>

    <section class="cid-rAyHAp7M3z mbr-parallax-background" style="background-color: #eeeeee" id="">
        <div class="container">
            <div class="media-container-row">
                <div class="media-content align-center">
                    <h2 class="mbr-section-title mbr-fonts-style display-2">¡Aviso importante!</h2>
                    <h5 class="mbr-section-subtitle" style="font-size: 12px !important">Lamentamos anunciar que debido a la situación de emergencia por el virus COVID19, se cancela el evento Feria de software, donde teniamos propuesto presentarles nuestra aplicación. El lanzamiento de nuestra aplicación será pospuesto hasta nuevo aviso, lamentamos los inconvenientes y esperamos comprendan que su salud está primero.</h5><br>
                    <img src="/assets/images/feria.jpg" style="height: 350px; padding-left: 4%">
                </div>
            </div>   
        </div>
    </section>

    <!-- Modal aviso -->
    <div class="modal fade" id="modal_aviso" tabindex="-1" role="dialog" >
        <div class="modal-dialog">
            <div class="modal-content" style="max-height: 93%">
                <div class="modal-header">
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h5>¡ Información importante !</h5>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <h5 class="mbr-section-subtitle" style="font-size: 12px !important">Lamentamos anunciar que debido a la situación de emergencia por el virus COVID19, se cancela el evento Feria de software, donde teniamos propuesto presentarles nuestra aplicación. El lanzamiento de nuestra aplicación será pospuesto hasta nuevo aviso, lamentamos los inconvenientes y esperamos comprendan que su salud está primero.</h5><br>
                    </div>
                    <img src="/assets/images/feria.jpg" style="height: 350px; padding-left: 18%">
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button" style="padding: 0">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/assets/three/three.min.js"></script>
    <script src="/assets/three/OBJLoader.js"></script>
    <script src="/assets/three/OrbitControls.js"></script>
    <script>
        var scene, camera, renderer;
        var scene = new THREE.Scene();
        scene.background = new THREE.Color(0xE6FFFA);
        var camera = new THREE.PerspectiveCamera(100,window.innerWidth*0.7/window.innerHeight*0.7, 1,5000);
        camera.position.z = -6;
        
        scene.add( camera );

        var ambientLight = new THREE.AmbientLight( 0xcccccc, 0.1 );
        scene.add( ambientLight );
        var pointLight = new THREE.PointLight( 0xffffff, 0.8 );
        camera.add( pointLight );

        
        var diente;
        var loader = new THREE.OBJLoader();

        loader.load("assets/modelos/Molar.obj", 
        function(object){
            object.traverse( function ( child ) {
                if ( child instanceof THREE.Mesh ) {
                    child.material = new THREE.MeshNormalMaterial();
                }
            });
            object.position.y = -0.75;
            scene.add(object);
        });

        var renderer = new THREE.WebGLRenderer();
        renderer.setSize(window.innerWidth*0.35,window.innerHeight*0.5);
        var padre = document.getElementById("Modelo3d");
        padre.appendChild(renderer.domElement);
        
        var controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.EnableZoom2 = false;
        controls.update();
        
        var render = function(){
            renderer.render(scene,camera);
        }

        var animate = function() {
            camera.lookAt( scene.position );
            requestAnimationFrame(animate);
            controls.update();
            render();
        }
        animate();
    </script>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#seccion1").css("min-height", $(window).height())
            $("#seccion2").css("min-height", $(window).height())
            $("#seccion3").css("min-height", $(window).height())
            if("<%=new_user%>" == "false"){
                $("#modal_aviso").modal("show");            
                console.log("entra");
            }
        });
    </script>
<%- include layouts/footer.ejs %>
