<%- include layouts/header.ejs %>

	<section class="header7 mbr-parallax-background" id="section1">
        <br>
        <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
        </div>
        <div class="container" style="margin-bottom: 50px">
            <div class="row">
                <div class="col-md-4 align-center">
                    <img src="assets/images/logo_pw.png" style="height: 200px; width: 300px">
                </div>
                <div class="col-md-8 align-left" style="width: 150%">
                    <h2 class="mbr-section-title pb-3 mbr-fonts-style display-6">Quienes somos</h2>
                    <p class="mbr-fonts-style panel-text display-5">
                        Somos Pyramid Works, pre-empresa enfocada al desarrollo de soluciones tecnológicas e innovadoras ante problemáticas que enfrenta nuestra sociedad. Pyramid Works está conformada por estudiantes de Ingeniería Civil Informática de la Universidad Técnico Federico Santa María, quienes demuestran sus habilidades y conocimientos con las tecnologías más competitivas del mercado en el desarrollo de software. <br>
                        Actualmente nos encontramos desarrollando la aplicación EsTuDiente que busca mejorar la salud dental del país en colaboración con Facultades de Odontología, además de apoyar al progreso de estudiantes de odontología en su meta de ser profesionales. <br>
                        Nuestra experiencia, responsabilidad y compromiso es avalada por cada trabajo que realizamos a base de esfuerzo y motivación.
                    </p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-8 align-left">
                    <h2 class="mbr-section-title pb-3 mbr-fonts-style display-6">Misión</h2>
                    <p class="mbr-fonts-style panel-text display-5">
                        Diseñar soluciones tecnológicas e innovadoras en función de las necesidades que poseen las personas, con la finalidad de generar una mejor calidad de vida y un aumento en el desarrollo de Chile. 
                    </p>
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-8 align-left">
                    <h2 class="mbr-section-title pb-3 mbr-fonts-style display-6">Visión</h2>
                    <p class="mbr-fonts-style panel-text display-5">
                        Crear software confiable, eficiente y útil que cumpla las expectativas de nuestros clientes, satisfacer las necesidades de nuestros usuarios y aplicar nuestro conocimiento empleando las herramientas más competitivas de la última década para el logro de nuestros objetivos.
                    </p>
                </div>
                <!-- <div class="col-md-12">
                    <h2 class="mbr-section-title pb-3 mbr-fonts-style display-6">Conócenos</h2>
                </div> -->
            </div>
        </div>
    </section>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#seccion1").css("min-height", $(window).height())
        });
    </script>
<%- include layouts/footer.ejs %>