<%- include layouts/header.ejs %>

    <section once="footers" class="cid-rAubmUt4i1" id="footer6-9">
        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-7"></p>
                </div>
            </div>
        </div>
    </section>

    <section class="header7 mbr-parallax-background" id="header7-4">
        <br>
        <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="mbr-section-title" style="text-align: center;">Preguntas Frecuentes</h2><br>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="section-head text-center space30">
                    </div>
                    <div class="clearfix"></div>
                    <!-- PREGUNTAS -->
                    <div id="bootstrap-accordion_8" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true" style="border-style: outset;">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title text-black" data-toggle="collapse" data-core="" href="#collapse1_8" aria-expanded="false" aria-controls="collapse1">
                                    <h4 class="mbr-fonts-style display-6">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>¿Es seguro atenderse con un Estudiante?</h4>
                                </a>
                            </div>
                            <div id="collapse1_8" class="panel-collapse noScroll collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_8">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-5">
                                       Todos los tratamientos impartidos por estudiantes son supervisados por profesionales y están respaldados por sus respectivas Universidades.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse2_8" aria-expanded="false" aria-controls="collapse2">
                                    <h4 class="mbr-fonts-style display-6">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>¿Como usar EsTuDiente?</h4>
                                </a>
                                
                            </div>
                            <div id="collapse2_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_8">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-5">Solo necesitas descargar la aplicación de <strong>EsTuDiente </strong>para<strong> Pacientes </strong>o<strong> EsTuDiente </strong>para<strong> Estudiantes&nbsp;</strong>(dependiendo de cuál seas) y registrarte con tus datos personales.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a role="button" class="collapsed text-black panel-title" data-toggle="collapse" data-core="" href="#collapse3_8" aria-expanded="false" aria-controls="collapse3">
                                    <h4 class="mbr-fonts-style display-6">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> ¿Donde descargar EsTuDiente?</h4>
                                </a>
                            </div>
                            <div id="collapse3_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_8">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-5">Tanto la versión de <strong>EsTuDiente</strong>&nbsp;de <strong>Paciente</strong>&nbsp;como la de <strong>Estudiente</strong> estarán disponibles proximamente en <a href="https://play.google.com/store" target="_blank">Google Play Store</a> y <a href="https://www.apple.com/ios/app-store/" target="_blank">Apple App Store</a>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse4_8" aria-expanded="false" aria-controls="collapse4">
                                    <h4 class="mbr-fonts-style display-6">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span> ¿Para quién esta pensado EsTuDiente?</h4>
                                </a> 
                            </div>
                            <div id="collapse4_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#bootstrap-accordion_8">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-5">&gt; Si eres un estudiante de odontología que necesita atender pacientes.<br>&gt; O si requieras un tratamiento dental y no te gusta pagar de más.<br>Entonces <strong>EsTuDiente</strong> esta pensado para <strong>tí</strong>.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFive">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse5_8" aria-expanded="false" aria-controls="collapse5">
                                    <h4 class="mbr-fonts-style display-6">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>¿Que pasa si no estoy satisfecho con la atención?</h4>
                                </a>
                            </div>
                            <div id="collapse5_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#bootstrap-accordion_8">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-5">
                                       Siempre puedes expresar tu opinión respecto al tratamiento recibido con la comunidad de usuarios de <strong>EsTuDiente</strong>.<br>Por lo demás, la Universidad a la que pertenece el estudiante es completamente responsable de la calidad del tratamiento recibido.</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingSix">
                                <a role="button" class="collapsed panel-title text-black" data-toggle="collapse" data-core="" href="#collapse6_8" aria-expanded="false" aria-controls="collapse6">
                                    <h4 class="mbr-fonts-style display-6">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>¿Que pasa si un usuario no se comporta de manera apropiada?</h4>
                                </a>
                            </div>
                            <div id="collapse6_8" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#bootstrap-accordion_8">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-5">
                                       Si consideras en cualquier momento que el comportamiento de un usuario, el contenido que sube dentro de la aplicación o el uso que le da a la misma es inapropiado, siempre puedes denunciar a dicho usuario a través de la aplicación. Los administradores recibirán la denuncia y tratarán el caso lo antes posible.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </section>

<%- include layouts/footer.ejs %>