.btn_log_prof {
    background-color: #026f93;
    padding: 3px !important;
    margin: 5px;
    height: 35px;
    width: 135px;
    cursor: pointer;
    border: 0px;
    font-size: 15px;
    color: white !important;
    border-radius: 28px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #283966;
}
.btn_log_prof:hover {
    background-color: #025d7c !important;
}
.btn_log_prof:active {
    position:relative;
    top:1px;
}
.btn_app {
    background-color: none;
    border-radius:15px;
    border: 2px solid white;
    padding: 5px 20px !important;
    margin: 5px;
    height: 40px !important;
    width: 150px !important;
    cursor:pointer;
    color: white;
    font-size:15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #e1e2ed;
}
.btn_app:hover {
    background-color: white;
    color: black;
}
.btn_app:active {
    position:relative;
    color: white !important;
}
.btn_icon{
    position: relative;
    padding: 5px
}
.btn_text{
    position: relative;
    margin: 0;
    padding: 0px;
    display: inline;
}
.btn_nav{
    color: white !important; 
}
.btn_nav:hover{
    background-color: #025d7c !important;
}
.linea_seccion{
    font-weight: 600; 
    padding: 10px; 
    margin-left: 5px; 
    margin-right: 5px; 
    margin-bottom: 2px; 
    text-align: center; 
    padding-bottom: 5px; 
    border-bottom: solid #053A82
    -webkit-box-shadow: 21px 22px 31px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 21px 22px 31px -7px rgba(0,0,0,0.75);
    box-shadow: 21px 22px 31px -7px rgba(0,0,0,0.75);
}
.btn{
    padding: 2px !important;
}
.card{
    padding: 2px;
    border-width: 2px;
    border-color: gray;
    border-collapse: "card"
}
.card:hover{
    background-color: #A4E0F4;
}
a:link{
    text-decoration:none !important;
}
.align-center{
    text-align: center;
}
.text_white{
    color: white;
}