<%- include ../layouts/profesor_header.ejs %>

<div class="container blog-content" id="seccion1">

    <div class="row">
        <!-- Columna del medio -->
        <div class="col-sm-12" id="central_col">
            <div class="blog-main" id="asignaturas_dictadas">
                <div class="sidebar-module">
                    <div class="panel panel-default">
                        <h4 style="font-weight: 600; padding: 10px; margin-left: 5px; margin-right: 5px; margin-bottom: 2px; text-align: center; padding-bottom: 5px; border-bottom: solid #289B89"> Mis Asignaturas
                        </h4><br>
                        <div class="pull-right">
                            <button class="btn btn-danger btn-sm" onclick='' style="margin-top: 10px !important; padding: 0;">
                                Denunciar
                            </button>
                        </div>
                        <%if(data.length > 0){%>
                            <div class="col-sm-1" style="margin-right: 30px">
                                <i style="font-size:18px" class="fa fa-user-circle"></i>
                            </div>
                        <%} else {%>
                            <h5 style="margin: 5px; margin-top: 20px">No posee asignaturas inscritas.</h5>
                        <%}%>
                    </div>
                </div><!-- /.blog-sidebar -->
            </div>
        </div>

        <!-- Columna derecha -->
        <div class="col-sm-4 blog-sidebar" id="right_col">
            <div class="sidebar-module">
                <div class="panel panel-default">
                    <h4 style="font-weight: 600; padding: 10px; margin-left: 5px; margin-right: 5px; margin-bottom: 3px; text-align: center; padding-bottom: 5px; border-bottom: solid #289B89"> Actividad reciente</h4>
                    <h5 style="margin: 10px">Estudiante ha avanzado en 2 tratamientos esta semana.</h5>
                    <br>
                </div>
            </div>
        </div>
        <br>
        
    </div><!-- /.row -->
</div><!-- /.container -->

<script type="text/javascript">
    $(document).ready(function(){
        var largo = $(window).height();
        $("#seccion1").css("min-height", largo-250)
        $("#periodo").val("<%=periodo%>");
    });

</script>

<%- include ../layouts/footer.ejs %>
