<%- include ../layouts/header.ejs %>

<div class="container blog-content">
    <div class="row" style="margin-top: 5%">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Registrar cuenta de profesor</h3>
                    <br><p>Aviso: Solo se podrá registrar si su institución esta afiliada a Estudiente. </p>
                </div>
                <div class="panel-body">
                    <form id="form_profesor_registrar" role="form">
                        <div class="form-group">
                            <input class="form-control" placeholder="Nombre" id="first_name" name="first_name" type="text" autofocus>
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Correo institucional" id="email" name="email" type="text">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Contraseña" id="password" name="password" type="password" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" placeholder="Repita su contraseña" id="password_confirm" name="password_confirm" type="password" value="">
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Registrar<i class="fa fa-address-card" style="margin-left: 5px"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->

<script type="text/javascript">
    $("#form_profesor_registrar").on('submit', function(e){
        e.preventDefault();
        if($("#password").val() === $("#password_confirm").val()){
            $.ajax({
                type: 'POST',
                data: JSON.stringify({
                    first_name: $("#first_name").val(), 
                    email: $("#email").val(), 
                    password: $("#password").val() }),
                contentType: 'application/json',
                url: '/profesor/profesor_registrar_confirm',
                success: function(data){
                    if(data.msj == "ok"){
                        alert(data.msj)
                        window.location.href = "/profesor/profesor_index";
                    } else if(data.msj == "deshabilitado"){
                        alert("Su cuenta se encuentra inhabilitada.");
                    } else{
                        alert("Datos de profesor incorrectos, su correo debe ser enviado por la universidad, intente nuevamente.");
                    }
                }
            });
        } else{
            alert("Sus contraseñas no coinciden.");
        }
    });
</script>

<%- include ../layouts/footer.ejs %>
