<%- include ../layouts/header.ejs %>
<div class="container blog-content">

    <div class="row">
        <!-- Columna del medio -->
        <div class="col-sm-8" id="central_col">
            <div class="blog-main" id="full_filter">
                
            </div>

            <!-- Insertamos aca todos los recursos, recordar id mainframe -->
            <div class="blog-main" id="mainframe">

            </div>
        </div>

        <!-- Columna derecha -->
        <div class="col-sm-4 blog-sidebar" id="right_col">
            <div class="sidebar-module right_col">
                <div class="panel panel-default">
                    <h4 style="font-weight: 600; padding: 10px; margin-left: 5px; margin-right: 5px; margin-bottom: 3px; text-align: center; padding-bottom: 0px; border-bottom: solid #289B89"> Información de utilidad</h4>
                </div>
            </div><!-- /.blog-sidebar -->
        </div><!-- /.columna derecha -->
    </div><!-- /.row -->
</div><!-- /.container -->

<%- include ../layouts/footer.ejs %>
